**LSE DATA SCIENCE INSTITUTE** 


[DS105M](https://lse-dsi.github.io/lse-ds105-course-notes/) | **Week 05: Data types & data frames**

---


üéØ **OBJECTIVE:** Recap of essential concepts of programming & Introduction of the data frame

üë®‚Äçüíª **AUTHOR:** [@jonjoncardoso](https://github.com/jonjoncardoso)

üìÖ **LAST UPDATED:** 25 October 2022


---

üìö Useful (?) resources:
- Search for emojis on [emojipedia](https://emojipedia.org/)
- Take a look at this [markdown guide](https://www.markdownguide.org/)
- **Python user?** Take some time later in the week to follow this [Pandas tutorial](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html)
- **R user?** Have a look at [this RMarkdown tutorial](https://r4ds.had.co.nz/r-markdown.html), also check [this tutorial](https://r4ds.had.co.nz/workflow-basics.html) of the same book

---

# Setup

If you want to get the most out of this session: install [Python](https://www.python.org/downloads/) and [Jupyter Lab](https://jupyter.org/install) in your computer before coming to the lecture. 

Or, if you are learning R, ensure you have [R](https://www.r-project.org/) and the [RStudio IDE](https://www.rstudio.com/products/rstudio/download/) installed. The main content is on Jupyter but I will switch to RStudio here and there to show you how to do the same things.


Last week, I demonstrated how to do web scraping and API requests using a **notebook**. I opened it on Google Collab website, and some of you were able to follow along. But let's understand what is a computational notebook.

# What is a Computational Notebook?

A computational notebook is a mix of **Markdown** (text) and **code** that lets you interact, document and share your analysis with others.

Why don't you give it a try?

## üéØ **ACTION POINT1 01**: Setup (15-20 min)

-   **Python users:** Let's open [Jupyter Lab](https://jupyter.org/install) together and learn how to create a new notebook

    -   Launch your favorite terminal and install Jupyter Lab with `pip install jupyterlab`

    -   Create a new directory in your computer and call it something like `DS105M/week05`

    -   `cd` to this directory and launch Jupyter with the command: `jupyter lab .`

    -   Create a new notebook by clicking on `File -> New -> Notebook`

-   **R users:** Let's open [RStudio IDE](https://www.rstudio.com/products/rstudio/download/) together and learn how to create a new R Notebook (or R Markdown file)

    -   Launch RStudio

    -   Go to `File -> New project -> New directory` and create a new project called something like `DS105M/week05`

    -   Create a new notebook by clicking on `File -> New File -> R Notebook`

## üéØ ACTION POINT 02: Write Markdown and Code (10 min)

Create a new code cell. Follow the instructions by your lecturer.

In Python, this will look like this:

In [ ]:
1 + 2

# Programming Recap

The rest of this notebook will be created in real time with your help. I want to know what are your main struggles with programming.

We can cover things like:

- **Basic data types:** integers, numbers, lists, vectors, arrays, packages
- **Flow control:** if/else, while, for loops 
- **Functions:** how do they work?

## üéØ ACTION POINT 03: Write some code

Try to use the space in this notebook to revisit some code you wrote last week, or some other code piece you came across during your pre-sessional programming course. Since this is an interactive session, it is a great place to ask "How could I do X in python"? type of questions.

-------------------------------

# Data Frames 

You will find data frames in every major programming language associated with data science: python, R, Julia.

A data frame is a **rectangular data format** and it looks like what you see on _a single tab_ of a spreadsheet. The reason data scientists use data frames and not spreadsheets is because it is more efficient to conduct and automate analysis by working with dataframes than by clicking on a graphical user interface (MS Excel is not the easiest!).

## üéØ ACTION POINT 04: Installing packages

**Python**

Python does not have built-in support for dataframes, we need to install a package called `pandas` to work with this datatype.

To install it, you can open a new terminal (`File -> New Terminal`) and use `pip`:

```shell
pip install pandas
```

Pro-tip: create a new code cell below and type `!pip install pandas` directly on this notebook!

**R**

Base R, on the other hand, already supports dataframe. You don't need to install anything to use it BUT it's typically a good idea to work with [tidyverse](https://www.tidyverse.org/), a set of packages that **enhances** the power of regular R dataframes.

To install tidyverse, open the R console and type:

```r
install.packages("tidyverse")
```

## Load package

After installing the package, you still have to **import it** before you can use it.

In python, we normally import pandas like this:

In [ ]:
import pandas as pd

> _‚ö†Ô∏è If you didn't have pandas installed, you will probably have to restart your python session (the kernel) before being able to import pandas. Raise your hand in class if you cannot get pandas to work. If after reloading, it still does not work, then it's likely that pandas wasn't installed correctly._

**R version**

You don't need to do anything at this moment, because data.frame is already part of base R.

If you want to learn how to use `tidyverse`, then you need to import it:

```r
library(tidyverse)
```

## The shape of a dataframe

Let me show you what a dataframe looks like. Don't pay too much attention to the code below, the point here is just to observe the **format** of the data:

In [ ]:
df = pd.DataFrame({"column_one"  : [1.0, 2.0, 3.0, 4.0],
                   "column_two"  : [2, 4, 6, 8],
                   "column_three": ["first name", "second name", "third name", "fourth name"]},
                  index=["a", "b", "c", "d"])

df

**R version**

If using R, you can create a new cell and type:

```r
df <- data.frame(column_one=c(1.0, 2.0, 3.0, 4.0),
                 column_two=c(2, 4, 6, 8),
                 column_three=c("first name", "second name", "third name", "fourth name"),
                 row.names=c("a", "b", "c", "d"))
df
```

You should see the following output:

```r
  column_one column_two column_three
a          1          2   first name
b          2          4  second name
c          3          6   third name
d          4          8  fourth name
```

## Data types

What are the types of each column?

In [ ]:
df.dtypes

**R version**

Type:

```r
str(df)
```

to see the output:

```r
'data.frame':	4 obs. of  3 variables:
 $ column_one  : num  1 2 3 4
 $ column_two  : num  2 4 6 8
 $ column_three: chr  "first name" "second name" "third name" "fourth name"
```

## üéØ ACTION POINT 05: A little challenge to yourself

Try to use the code above and create a new dataframe with the same content as the one before, only this time add a new column called `column_four` of the type `boolean` (`logical`). This column should be equals to `True` if the content of `column_one` **and** `column_two` represent even numbers.

# How to access the values in a column by its name

In [ ]:
df.column_one

OR

In [ ]:
df["column_one"]

**R version**

```r
df$column_one
```

to see:

```r
1 2 3 4
```

# How to access the n-th column?

You will have to use the `iloc` (integer-based indexing).

- ‚ö†Ô∏è Pay attention to the comma (`,`)
- ‚ö†Ô∏è Yes, you need that colon (`:`), it just means "return all rows" in this case
- ‚ö†Ô∏è Remember that Python is zero-indexed. The first element in a vector `a` is accessed with `a[0]`. 
    - If you use `a[1]`, you will get the second element. This applies to all indices in python

In [ ]:
df.iloc[:,1] # to get the second column

Read more about iloc [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

**R version**

- ‚ö†Ô∏è Pay attention to the comma (`,`)
- ‚ö†Ô∏è The empty space before the comma has the same meaning as the colon in python, it means "return all rows" in this case
- ‚ö†Ô∏è Different to Python, indices in R start with number `1`. The first element in a vector `a` is accessed with `a[1]`.
    - If you use `a[2]`, you will get the second element.

The command:

```r
df[, 2]
```

will return:

```r
2 4 6 8
```

# How to access the n-th row?

Almost the same syntax, using `iloc`. The only change is that we pass the index before the comma.

- ‚ö†Ô∏è Pay attention to the comma (`,`)
- ‚ö†Ô∏è Yes, you need that colon (`:`), it just means "return all columns" in this case
- ‚ö†Ô∏è Remember that Python is zero-indexed. The first element in a vector `a` is accessed with `a[0]`. 
    - If you use `a[1]`, you will get the second element. This applies to all indices in python

In [ ]:
df.iloc[1,:] # to get the second row

Read more about iloc [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

**R version**

Almost the same syntax. The only change is that we pass the index before the comma.

- ‚ö†Ô∏è Pay attention to the comma (`,`)
- ‚ö†Ô∏è The empty space **after** the comma has the same meaning as the colon in python, it means "return all columns" in this case
- ‚ö†Ô∏è Different to Python, indices in R start with number `1`. The first element in a vector `a` is accessed with `a[1]`.
    - If you use `a[2]`, you will get the second element.

The command:

```r
df[2, ]
```

will return:

```r
  column_one column_two column_three
b          2          4  second name
```

(prettier/more organised than Python I think!)

# How many rows and columns are there in my dataframe?

In [ ]:
df.shape

**R version**

```r
dim(df)
```

will return:

```r
 4 3
```

# Now let's load some real data

You can try to replicate this later at home.

I went to the [On Street Crime In Camden dataset](https://opendata.camden.gov.uk/Crime-and-Criminal-Justice/On-Street-Crime-In-Camden-Map/893b-tp33) and downloaded it as a CSV file (menu Export) and saved it in my local current directory

## Read the data

In [ ]:
df_street_crime = pd.read_csv("./On_Street_Crime_In_Camden_Map.csv")

## Explore dimensions and column names

In [ ]:
df_street_crime.shape

In [ ]:
df_street_crime.columns

In [ ]:
df_street_crime.dtypes

## üéØ ACTION POINT 06: Explore the data

**Let's work on it together. What would like you to explore in this data?**